.FormElements-buttonsBlock {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.FormElements-colorsBlock {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  height: 120px;
}
.FormElements-colorsBlock_color {
  width: 100%;
  height: 100%;
}

.FormElements-sumBlock {
  display: flex;
  justify-content: start;
  gap: 20px;
}

.FormElements-usersBlock {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
}

body {
  display: flex;
  position: fixed;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}
body > .mainWindow {
  height: 100%;
  overflow-y: auto;
}

.title {
  position: sticky;
  top: 0;
  z-index: 1;
}

.goals-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.goals-list-item {
  display: flex;
  flex-direction: column;
}
.goals-list-item-data {
  display: flex;
}
.goals-list-item-data-users {
  display: flex;
  flex-direction: column;
}
.goals-list-item-progressBar_total {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}
.goals-list-item-progressBar_completed {
  box-sizing: border-box;
  position: static;
  height: 100%;
}
.goals-goalForm__form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.goals-goalForm__div {
  display: flex;
  justify-content: start;
  gap: 20px;
}
.goals-goalForm-users {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
}
.goals-goalForm-actionButtons {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.goals-goalForm-colors {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  height: 120px;
}
.goals-goalForm-colors-color {
  width: 100%;
  height: 100%;
}
.goals-showFormButton {
  position: fixed;
  bottom: 70px;
  right: 20px;
}

.funds-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.funds-list-item {
  display: flex;
  gap: 5px;
}
.funds-list-item-users {
  display: flex;
  flex-direction: column;
}
.funds-fundForm__form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.funds-fundForm-colors {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  height: 120px;
}
.funds-fundForm-colors-color {
  width: 100%;
  height: 100%;
}
.funds-fundForm-actionButtons {
  display: flex;
  justify-content: center;
}
.funds-showFormButton {
  position: fixed;
  bottom: 70px;
  right: 20px;
}

.entries-entryForm__form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.entries-entryForm-param-users {
  display: flex;
  justify-content: space-around;
}
.entries-entryForm-param__div {
  display: flex;
  justify-content: center;
  gap: 5px;
  width: calc(100% - 20px);
  margin: 5px 10px;
}
.entries-entryForm-actionButtons {
  display: flex;
  justify-content: center;
}
.entries-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.entries-list-item {
  display: flex;
  justify-content: start;
  width: 100%;
  height: 75px;
}
.entries-list-item-userColors {
  display: flex;
  flex-direction: column;
}
.entries-list-item-mainInfo {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.entries-list-item-mainInfo__div {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.entries-showFormButton {
  position: fixed;
  bottom: 70px;
  right: 20px;
}

.settings {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.settings-modeSwitcher {
  display: flex;
  justify-content: start;
  position: sticky;
  bottom: 0;
  z-index: 1;
}
.settings-parametersEditing {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.settings-parametersEditing-item__div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.settings-parametersEditing-item-users-actions {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.settings-searchAndFilters {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  overflow-y: auto;
}
.settings-searchAndFilters-cathegories__div {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.settings-searchAndFilters-users__div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
  row-gap: 10px;
}
.settings-searchAndFilters-users_firstItem {
  justify-self: end;
}
.settings-searchAndFilters-users_lastItem {
  justify-self: start;
}
.settings-searchAndFilters-sum__div {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.settings-searchAndFilters-currency__div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
  row-gap: 10px;
}
.settings-searchAndFilters-currency_firstItem {
  justify-self: end;
}
.settings-searchAndFilters-currency_lastItem {
  justify-self: start;
}
.settings-searchAndFilters-date__div, .settings-searchAndFilters-time__div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.settings-searchAndFilters--date__div, .settings-searchAndFilters--time__div {
  display: flex;
  justify-content: space-between;
}

.switcher {
  display: flex;
  justify-content: space-between;
  z-index: 10;
  bottom: 0;
  width: 100%;
}
.switcher__button {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

/*# sourceMappingURL=position.css.map */
