h1, h2, h3, h4, h5, h6, label, input, textarea, option, select {
  font-family: Jura;
}

.title {
  font-size: 25px;
  background-color: #fff;
  border-bottom: 1px solid var(--main-border-color);
  text-align: center;
  padding: 5px;
}

.goals-list {
  padding: 10px;
}
.goals-list-item {
  height: 100px;
}
.goals-list-item__button {
  border: 1px solid var(--inactive-color);
  border-radius: var(--block-radius);
}
.goals-list-item-data {
  width: 100%;
  height: 100%;
}
.goals-list-item-data_title {
  font-size: 25px;
}
.goals-list-item-data-users {
  box-sizing: border-box;
  width: 20px;
  height: 100%;
}
.goals-list-item-data-users_user {
  height: 100%;
  width: 100%;
}
.goals-list-item-data-users_user:first-child {
  border-top-left-radius: calc(var(--block-radius) - 1px);
}
.goals-list-item-data__div {
  width: 100%;
}
.goals-list-item-data-progress__p {
  font-size: 20px;
  text-align: start;
  padding: 5px 5px 5px 15px;
}
.goals-list-item-progressBar {
  width: 100%;
  height: 10px;
}
.goals-list-item-progressBar_total {
  background-color: var(--inactive-color);
  border-bottom-left-radius: calc(var(--block-radius) - 1px);
  border-bottom-right-radius: calc(var(--block-radius) - 1px);
}
.goals-list-item-progressBar_completed {
  background-color: #66f;
  border-bottom-left-radius: calc(var(--block-radius) - 1px);
  border-bottom-right-radius: calc(var(--block-radius) - 1px);
}
.goals-goalForm {
  padding: 10px;
}
.goals-goalForm__input {
  font-size: 20px;
  border-top: 1px solid var(--main-border-color);
  border-bottom: 1px solid var(--main-border-color);
  padding: 5px 5px 5px 15px;
}
.goals-goalForm__input[name=sum] {
  width: 100%;
}
.goals-goalForm__select {
  font-size: 25px;
}
.goals-goalForm__option {
  font-size: 25px;
}
.goals-goalForm_paramName {
  font-size: 25px;
  text-align: center;
}
.goals-goalForm-users-user__label {
  font-size: 25px;
}
.goals-goalForm-colors-color {
  box-sizing: border-box;
  border: 1px solid var(--inactive-color);
  border-radius: var(--block-radius);
}
.goals-goalForm-actionButtons {
  margin-top: 20px;
}
.goals-goalForm-actionButtons_save, .goals-goalForm-actionButtons_close {
  border-left: 1px solid var(--main-border-color);
  border-right: 1px solid var(--main-border-color);
  padding: 5px 15px;
  background-color: rgba(0, 0, 0, 0.0392156863);
  font-size: 25px;
}

.funds {
  padding: 10px;
}
.funds-list-item {
  border: 1px solid var(--inactive-color);
  border-radius: var(--block-radius);
  padding: 5px 10px 5px 15px;
}
.funds-list-item__button {
  border-radius: var(--block-radius);
}
.funds-list-item_title {
  font-size: 25px;
  text-align: center;
}
.funds-list-item_sum {
  font-size: 20px;
  text-align: left;
}
.funds-fundForm__input {
  box-sizing: border-box;
  font-size: 20px;
  padding: 5px 5px 5px 20px;
  margin-bottom: 10px;
  border-bottom: 1px solid var(--inactive-color);
  border-top: 1px solid var(--inactive-color);
  width: 100%;
}
.funds-fundForm__input:focus {
  border-color: var(--main-border-color);
}
.funds-fundForm_titleForColors {
  font-size: 22px;
  text-align: center;
  margin-bottom: 10px;
}
.funds-fundForm-colors-color {
  box-sizing: border-box;
  border: 1px solid var(--inactive-color);
  border-radius: var(--block-radius);
}
.funds-fundForm__button {
  font-size: 25px;
  margin: 10px;
  padding: 5px 15px;
  border-left: 1px solid var(--main-border-color);
  border-right: 1px solid var(--main-border-color);
  background-color: rgba(0, 0, 0, 0.0392156863);
}
.funds-showFormButton {
  padding: 10px;
  border: 1px solid var(--inactive-color);
  border-radius: 10px;
}

.entries-entryForm-param {
  margin: 5px 0;
}
.entries-entryForm-paramName {
  text-align: center;
  font-weight: normal;
  font-size: 28px;
}
.entries-entryForm-param-users-user__label {
  font-size: 25px;
}
.entries-entryForm-param-cath, .entries-entryForm-param-type, .entries-entryForm-param-currency, .entries-entryForm-param-fund {
  font-size: 20px;
  width: calc(100% - 20px);
  padding-left: 10px;
  border: none;
  margin: 5px 10px;
  outline: none;
}
.entries-entryForm-param__div {
  width: calc(100% - 20px);
}
.entries-entryForm-param-sum {
  box-sizing: border-box;
  width: 100%;
  font-size: 20px;
  padding: 5px 15px;
  border-bottom: 1px solid var(--inactive-color);
  border-top: 1px solid var(--inactive-color);
}
.entries-entryForm-param-currency {
  box-sizing: border-box;
  padding: 0;
  font-size: 25px;
  width: fit-content;
}
.entries-entryForm-param-description {
  box-sizing: border-box;
  width: calc(100% - 20px);
  height: 200px;
  margin: 5px 10px;
  font-size: 20px;
  resize: none;
  border: none;
  background-color: rgba(0, 0, 0, 0.0666666667);
  outline: none;
  padding: 0 5px;
}
.entries-entryForm__button {
  color: var(--main-text-color);
  font-size: 25px;
  padding: 5px 20px;
  border-left: 1px solid var(--main-border-color);
  border-right: 1px solid var(--main-border-color);
  margin: 10px;
  background-color: rgba(0, 0, 0, 0.0392156863);
}
.entries-list {
  padding: 0 10px 10px 10px;
}
.entries-list-date {
  font-size: 25px;
  text-align: center;
  margin: 10px 0;
}
.entries-list-item {
  border: 1px solid var(--inactive-color);
  border-radius: var(--block-radius);
}
.entries-list-item-userColors {
  flex-shrink: 0;
  flex-grow: 1;
  box-sizing: border-box;
  height: 100%;
}
.entries-list-item-userColors > div:first-child {
  border-top-left-radius: calc(var(--block-radius) - 1px);
  border-bottom-left-radius: calc(var(--block-radius) - 1px);
}
.entries-list-item-mainInfo {
  box-sizing: border-box;
  padding: 5px 10px 5px 20px;
  height: 100%;
  border-top-right-radius: calc(var(--block-radius) - 1px);
  border-bottom-right-radius: calc(var(--block-radius) - 1px);
}
.entries-list-item-mainInfo_type {
  font-size: 25px;
  padding-right: 25px;
}
.entries-list-item-mainInfo__div {
  margin-top: 5px;
}
.entries-list-item-mainInfo_sum, .entries-list-item-mainInfo_time {
  font-size: 20px;
}
.entries-showFormButton {
  padding: 10px;
  border: 1px solid var(--inactive-color);
  border-radius: 10px;
}

.switcher__button {
  background-color: #fff;
  border-top: 1px solid var(--inactive-color);
  border-left: 1px solid var(--inactive-color);
}
.switcher__button:first-child {
  border-left: none;
}
.switcher__svg {
  padding: 10px;
}

/*# sourceMappingURL=style.css.map */
