h1, h2, h3, h4, h5, h6, label, input, textarea, option, select {
  font-family: Jura;
}

.title {
  font-size: 25px;
  background-color: #fff;
  border-bottom: 1px solid var(--main-border-color);
  text-align: center;
  padding: 5px;
}

.entries-entry-param {
  margin: 5px 0;
}
.entries-entry-paramName {
  text-align: center;
  font-weight: normal;
  font-size: 28px;
}
.entries-entry-param-users-user__label {
  font-size: 25px;
}
.entries-entry-param-cath, .entries-entry-param-type, .entries-entry-param-currency, .entries-entry-param-fund {
  font-size: 20px;
  width: calc(100% - 20px);
  padding-left: 10px;
  border: none;
  margin: 5px 10px;
  outline: none;
}
.entries-entry-param__div {
  width: calc(100% - 20px);
}
.entries-entry-param-sum {
  box-sizing: border-box;
  width: 100%;
  font-size: 20px;
  padding: 5px 15px;
  border-bottom: 1px solid var(--inactive-color);
  border-top: 1px solid var(--inactive-color);
}
.entries-entry-param-currency {
  box-sizing: border-box;
  padding: 0;
  font-size: 25px;
  width: fit-content;
}
.entries-entry-param-description {
  box-sizing: border-box;
  width: calc(100% - 20px);
  height: 200px;
  margin: 5px 10px;
  font-size: 20px;
  resize: none;
  border: none;
  background-color: rgba(0, 0, 0, 0.0666666667);
  outline: none;
  padding: 0 5px;
}
.entries-entry__button {
  color: var(--main-text-color);
  font-size: 25px;
  padding: 5px 20px;
  border-left: 1px solid var(--main-border-color);
  border-right: 1px solid var(--main-border-color);
  margin: 10px auto;
  background-color: rgba(0, 0, 0, 0.0392156863);
}
.entries-list {
  padding: 0 10px 10px 10px;
}
.entries-list-date {
  font-size: 25px;
  text-align: center;
  margin: 10px 0;
}
.entries-list-item {
  border: 1px solid var(--inactive-color);
  border-radius: var(--block-radius);
}
.entries-list-item-userColors {
  flex-shrink: 0;
  flex-grow: 1;
  box-sizing: border-box;
  height: 100%;
}
.entries-list-item-userColors > div:first-child {
  border-top-left-radius: calc(var(--block-radius) - 1px);
  border-bottom-left-radius: calc(var(--block-radius) - 1px);
}
.entries-list-item-mainInfo {
  box-sizing: border-box;
  padding: 5px 10px 5px 20px;
  height: 100%;
  border-top-right-radius: calc(var(--block-radius) - 1px);
  border-bottom-right-radius: calc(var(--block-radius) - 1px);
}
.entries-list-item-mainInfo_type {
  font-size: 25px;
  padding-right: 25px;
}
.entries-list-item-mainInfo__div {
  margin-top: 5px;
}
.entries-list-item-mainInfo_sum, .entries-list-item-mainInfo_time {
  font-size: 20px;
}

.funds {
  padding: 10px;
}
.funds-list-item {
  border: 1px solid var(--inactive-color);
  border-radius: var(--block-radius);
  padding: 5px 10px 5px 15px;
}
.funds-list-item__button {
  border-radius: var(--block-radius);
}
.funds-list-item_title {
  font-size: 25px;
  text-align: center;
}
.funds-list-item_sum {
  font-size: 20px;
  text-align: left;
}
.funds-fund__input {
  box-sizing: border-box;
  font-size: 20px;
  padding: 5px 5px 5px 20px;
  margin-bottom: 10px;
  border-bottom: 1px solid var(--inactive-color);
  border-top: 1px solid var(--inactive-color);
  width: 100%;
}
.funds-fund__input:focus {
  border-color: var(--main-border-color);
}
.funds-fund_titleForColors {
  font-size: 22px;
  text-align: center;
  margin-bottom: 10px;
}
.funds-fund-colors-color {
  box-sizing: border-box;
  border: 1px solid var(--inactive-color);
  border-radius: var(--block-radius);
}
.funds-fund_save {
  font-size: 25px;
  margin: 10px auto;
  padding: 5px 15px;
  border-left: 1px solid var(--inactive-color);
  border-right: 1px solid var(--inactive-color);
}

.switcher__button {
  border-top: 1px solid var(--inactive-color);
  border-left: 1px solid var(--inactive-color);
}
.switcher__button:first-child {
  border-left: none;
}

/*# sourceMappingURL=style.css.map */
