.FormElements {
    &-buttonsBlock {
        margin-top: 20px;

        &_save, &_close {
            border-left: 1px solid var(--main-border-color);
            border-right: 1px solid var(--main-border-color);
            padding: 5px 15px;
            background-color: #0000000a;
            font-size: 25px;
        }
    }
}