@use "./formElements/actionButtons/position.scss" as actionButtons;
@use "./formElements/colors/position.scss" as colors;
@use "./formElements/sum/position.scss" as sum;
@use "./formElements/users/position.scss" as users;

body {
    display: flex;
    position: fixed;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;

    > .mainWindow {
        height: 100%;
        overflow-y: auto;
    }
}

.title {
    position: sticky;
    top: 0;
    z-index: 1;
}

.goals {
    &-list {
        display: flex;
        flex-direction: column;
        gap: 10px;

        &-item {
            display: flex;
            flex-direction: column;

            &-data {
                display: flex;
            }

            &-progressBar {
                display: flex;

                &_total {
                    box-sizing: border-box;
                    position: static;
                    bottom: 0;
                    left: 0;
                    height: 100%;
                    width: 100%;
                }

                &_completed {
                    box-sizing: border-box;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    height: calc(var(--block-radius) - 1px);
                }
            }
        }
    }

    &-goalForm {
        &__form {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        &__div {
            display: flex;
            justify-content: start;
            gap: 20px;
        }

        &-users {
            display: flex;
            justify-content: space-evenly;
            gap: 20px;
        }

        &-actionButtons {
            display: flex;
            justify-content: center;
            gap: 20px;
        }

        &-colors {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            gap: 10px;
            height: 120px;

            &-color {
                width: 100%;
                height: 100%;
            }
        }
    }

    &-showFormButton {
        position: fixed;
        bottom: 70px;
        right: 20px;
    }
}

.funds {
    &-list {
        display: flex;
        flex-direction: column;
        gap: 10px;

        &-item {
            display: flex;
            gap: 5px;

            &-users {
                display: flex;
            }

            &-info {
                
            }
        }
    }

    &-fundForm {
        &__form {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        &-colors {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            gap: 10px;
            height: 120px;

            &-color {
                width: 100%;
                height: 100%;
            }
        }

        &-actionButtons {
            display: flex;
            justify-content: center;
        }
    }

    &-showFormButton {
        position: fixed;
        bottom: 70px;
        right: 20px;
    }
}

.entries {
    &-entryForm {
        &__form {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        &-param {
            &-users {
                display: flex;
                justify-content: space-around;
            }

            &__div {
                display: flex;
                justify-content: center;
                gap: 5px;
                width: calc(100% - 20px);
                margin: 5px 10px;
            }
        }

        &-actionButtons {
            display: flex;
            justify-content: center;
        }
    }

    &-list {
        &-item {
            display: flex;
            justify-content: start;
            width: 100%;
            height: 75px;

            &-userColors {
                display: flex;
                justify-content: start;
                width: 20px;

                > div {
                    width: 100%;
                }
            }

            &-mainInfo {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;

                &__div {
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                }
            }
        }
    }

    &-showFormButton {
        position: fixed;
        bottom: 70px;
        right: 20px;
    }
}

.switcher {
    display: flex;
    justify-content: space-between;
    z-index: 10;
    bottom: 0;
    width: 100%;

    &__button {
        box-sizing: border-box;
        width: 100%;
        height: 100%;
    }
}