.cathegories {
    display: flex;
    position: fixed;
    bottom: 0;
    justify-content: space-around;
    width: 100%;
    z-index: 1;
}

.info {
    &-mainPart {
        &__button {
            margin: auto;
        }
    }
}