.tools {
  padding: 0 10px;
  border-left: 1px solid var(--main-border-color);
}
.tools__div {
  padding: 5px;
  border-top: 1px solid var(--main-border-color);
}
.tools__div:first-of-type {
  border: none;
}
.tools__button_search {
  width: 50px !important;
  box-sizing: content-box;
}
.tools-communication__button {
  width: 50px;
  padding: var(--tools-button-padding);
  border: 1px solid var(--inactive-color);
  border-radius: var(--block-radius);
  box-sizing: content-box;
}
.tools-communication__button:hover {
  border-color: var(--main-border-color);
}
.tools-communication__button:hover > svg {
  fill: var(--main-svg-color);
}
.tools-communication__button:hover > .tools-communication__p {
  color: var(--main-text-color);
}
.tools-communication__p {
  color: var(--inactive-color);
  font-size: 16px;
}
.tools-communication__div {
  border: 1px solid var(--inactive-color);
  border-radius: var(--block-radius);
  width: 100%;
}
.tools-communication-timer__button {
  padding: var(--tools-timer-button-padding);
}
.tools-communication-timer__button:first-of-type {
  border-right: 1px solid var(--inactive-color);
}
.tools-communication-timer__button:last-of-type {
  border-left: 1px solid var(--inactive-color);
}
.tools-communication-timer__button:hover .svg {
  fill: var(--main-svg-color);
}
.tools-communication-timer__p {
  font-size: 25px;
  margin: auto 0;
  color: var(--inactive-color);
}
.tools-common {
  border-bottom: 1px solid var(--main-border-color);
}
.tools-common__button {
  box-sizing: content-box;
  width: 100%;
  padding: var(--tools-button-padding);
  border-left: 1px solid var(--main-border-color);
  transition: width 200ms ease-in-out;
}
.tools-common__button:first-of-type {
  border: none;
}
.tools-common__button:hover {
  width: 400%;
}
.tools-common__pre {
  font-size: 18px;
}
.tools-common-actions {
  border: 1px solid var(--main-border-color);
  border-radius: var(--block-radius);
  width: 100%;
}
.tools-common-search {
  border: 1px solid var(--main-border-color);
  border-radius: var(--block-radius);
}
.tools-listsControl {
  padding: 5px 0;
  margin: 0 5px;
  border: none;
}
.tools-listsControl::-webkit-scrollbar {
  height: 0;
}
.tools-listsControl__div {
  min-width: 360px;
  min-height: 40px;
  border: 1px solid var(--main-border-color);
  border-radius: 10px;
  background-color: #fff;
}
.tools-listsControl-group__button {
  box-sizing: border-box;
  width: 100%;
  border-left: 1px solid var(--main-border-color);
  transition: width 200ms ease-in-out;
}
.tools-listsControl-group__button > .tools-listsControl-group__svg {
  transition: opacity 200ms ease-in-out;
}
.tools-listsControl-group__button:first-of-type {
  border: none;
}
.tools-listsControl-group__button:hover {
  width: 300%;
}
.tools-listsControl-group__button:hover > .tools-listsControl-group__svg {
  opacity: 0;
}
.tools-listsControl-group__svg {
  padding: 0 15px;
}
.tools-listsControl-group__pre {
  font-size: 18px;
}
.tools-listsControl-cath__button {
  width: 100%;
}
.tools-listsControl-cath__button:first-of-type {
  width: 500%;
}
.tools-listsControl-cath__button:last-of-type {
  border-left: 1px solid var(--main-border-color);
}
.tools-listsControl-cath__button:hover > .tools-listsControl-cath__svg {
  fill: var(--main-svg-color);
}
.tools-listsControl-cath__svg {
  width: 25px;
  height: 25px;
}
.tools-listsControl-cath__pre {
  text-align: center;
  font-size: 18px;
}
.tools-actionsBar-editing {
  box-sizing: border-box;
  height: 40px;
}
.tools-actionsBar-editing__div {
  margin-right: 0px;
  width: 60px;
  height: 100%;
  border: 1px solid var(--inactive-color);
  border-radius: 25%;
}
.tools-actionsBar-editing__p {
  font-size: 30px;
  color: var(--inactive-color);
}
.tools-actionsBar-editing__form {
  width: 100%;
  padding: 1px 0 0 0;
}
.tools-actionsBar-editing__button {
  height: 100%;
  width: 100px;
  border: 1px solid var(--main-border-color);
  border-radius: var(--block-radius);
  border-color: var(--inactive-color);
  background-color: rgba(255, 0, 0, 0.2);
}
.tools-actionsBar-editing__input {
  box-sizing: border-box;
  font-family: Jura;
  font-size: 25px;
  width: 100%;
  height: 100%;
  padding: 0 0 0 10px;
  border-top: 1px solid var(--inactive-color);
  border-bottom: 1px solid var(--inactive-color);
}
.tools-actionsBar-editing__input::placeholder {
  font-family: Jura;
}
.tools-actionsBar-editing__input:focus {
  border-color: var(--main-border-color);
}
.tools-actionsBar-confirmation {
  box-sizing: border-box;
  height: 40px;
}
.tools-actionsBar-confirmation__button {
  width: 100%;
  padding: var(--tools-button-padding);
  border: 1px solid var(--inactive-color);
  border-radius: var(--block-radius);
}
.tools-actionsBar-confirmation__button.tools__button_createNesting {
  padding-bottom: 0;
  padding-top: 0;
}
.tools-actionsBar-confirmation__button.tools__button_createNesting .tools-actionsBar-confirmation__svg {
  width: 40px;
  height: 40px;
}

/*# sourceMappingURL=style.css.map */
