.tools {
  padding: 0 10px;
  border-left: 1px solid var(--main-border-color);
}
.tools__div {
  box-sizing: border-box;
  padding: 5px;
  border-top: 1px solid var(--main-border-color);
}
.tools__div:first-of-type {
  border: none;
}
.tools__button_search {
  width: 50px !important;
  box-sizing: content-box;
}
.tools-communication__button {
  width: 50px;
  padding: var(--tools-button-padding);
  border: 1px solid var(--inactive-color);
  border-radius: var(--block-radius);
  box-sizing: content-box;
}
.tools-communication__button:hover {
  border-color: var(--main-border-color);
}
.tools-communication__button:hover > svg {
  fill: var(--main-svg-color);
}
.tools-communication__button:hover > .tools-communication__p {
  color: var(--main-text-color);
}
.tools-communication__p {
  color: var(--inactive-color);
  font-size: 16px;
}
.tools-communication__div {
  border: 1px solid var(--inactive-color);
  border-radius: var(--block-radius);
  width: 100%;
}
.tools-communication-timer__button {
  padding: var(--tools-timer-button-padding);
}
.tools-communication-timer__button:first-of-type {
  border-right: 1px solid var(--inactive-color);
}
.tools-communication-timer__button:last-of-type {
  border-left: 1px solid var(--inactive-color);
}
.tools-communication-timer__button:hover .svg {
  fill: var(--main-svg-color);
}
.tools-communication-timer__p {
  font-size: 25px;
  margin: auto 0;
  color: var(--inactive-color);
}
.tools-common {
  border-bottom: 1px solid var(--main-border-color);
}
.tools-common__button {
  box-sizing: content-box;
  width: 100%;
  padding: var(--tools-common-button-padding);
  border-left: 1px solid var(--main-border-color);
  transition: all 200ms ease-in-out;
}
.tools-common__button:first-of-type {
  border: none;
}
.tools-common__button:hover {
  width: 400%;
}
.tools-common__button:hover.switcher {
  width: 100%;
}
.tools-common__button:hover.switcher .tools-common__svg {
  fill: var(--main-svg-color);
}
.tools-common__button.tools__button_editList {
  border-bottom-right-radius: calc(var(--block-radius) - 1px);
  border-top-right-radius: calc(var(--block-radius) - 1px);
}
.tools-common__button.tools__button_editList:hover {
  background-color: #afa;
}
.tools-common__button.tools__button_shareList:hover {
  background-color: #ccf;
}
.tools-common__button.tools__button_deleteList:hover {
  background-color: #fcc;
}
.tools-common__pre {
  font-size: 18px;
}
.tools-common-actions {
  border: 1px solid var(--main-border-color);
  border-radius: var(--block-radius);
  width: 100%;
}
.tools-common-search {
  border: 1px solid var(--main-border-color);
  border-radius: var(--block-radius);
}
.tools-common-search .tools__button_search {
  padding: var(--tools-button-padding);
}
.tools-listsControl {
  padding: 5px 0;
  margin: 0 5px;
  border: none;
  flex-shrink: 0;
}
.tools-listsControl::-webkit-scrollbar {
  height: 0;
}
.tools-listsControl__div {
  min-width: 360px;
  min-height: 40px;
  border: 1px solid var(--main-border-color);
  border-radius: 10px;
  background-color: #fff;
}
.tools-listsControl-group__button {
  box-sizing: border-box;
  width: 100%;
  border-left: 1px solid var(--main-border-color);
  transition: width 200ms ease-in-out;
}
.tools-listsControl-group__button > .tools-listsControl-group__svg {
  transition: opacity 200ms ease-in-out;
}
.tools-listsControl-group__button:first-of-type {
  border: none;
}
.tools-listsControl-group__button:hover {
  width: 300%;
}
.tools-listsControl-group__button:hover > .tools-listsControl-group__svg {
  opacity: 0;
}
.tools-listsControl-group__svg {
  padding: 0 15px;
}
.tools-listsControl-group__pre {
  font-size: 18px;
}
.tools-listsControl-cath__button {
  width: 100%;
}
.tools-listsControl-cath__button.switcher {
  width: 20%;
}
.tools-listsControl-cath__button:last-of-type {
  border-left: 1px solid var(--main-border-color);
}
.tools-listsControl-cath__svg {
  width: 25px;
  height: 25px;
  padding: 0 15px;
}
.tools-listsControl-cath__button:hover .tools-listsControl-cath__svg {
  fill: var(--main-svg-color);
}
.tools-listsControl-cath__pre {
  text-align: center;
  font-size: 18px;
}
.tools-actionsArea-editing {
  box-sizing: border-box;
  height: 40px;
}
.tools-actionsArea-editing__div {
  box-sizing: border-box;
  margin-right: 0px;
  min-width: 40px;
  min-height: 40px;
  border: 1px solid var(--inactive-color);
  border-radius: 25%;
}
.tools-actionsArea-editing__p {
  font-size: 30px;
  color: var(--inactive-color);
}
.tools-actionsArea-editing__form {
  min-height: 40px;
  width: 100%;
}
.tools-actionsArea-editing__button {
  height: 100%;
  width: 100px;
  border: 1px solid var(--main-border-color);
  border-radius: var(--block-radius);
  border-color: var(--inactive-color);
  background: linear-gradient(0.25turn, #f88, #ff8, #8f8, #8ff, #88f, #f8f, #f88);
}
.tools-actionsArea-editing__button:hover {
  border-color: var(--main-border-color);
  background: linear-gradient(0.25turn, #f00, #ff0, #0f0, #0ff, #00f, #f0f, #f00);
}
.tools-actionsArea-editing__input {
  box-sizing: border-box;
  font-family: Jura;
  font-size: 20px;
  color: var(--inactive-color);
  width: 100%;
  min-height: 40px;
  padding: 0 10px;
  border-left: 2px solid var(--inactive-color);
  border-right: 2px solid var(--inactive-color);
  border-radius: var(--block-radius);
}
.tools-actionsArea-editing__input::placeholder {
  font-family: Jura;
}
.tools-actionsArea-editing__input:focus {
  color: var(--main-text-color);
  border-color: var(--main-border-color);
}
.tools-actionsArea-confirmation {
  box-sizing: border-box;
  height: 40px;
}
.tools-actionsArea-confirmation__button {
  box-sizing: border-box;
  width: 100%;
  min-height: 40px;
  border: 1px solid var(--inactive-color);
  border-radius: var(--block-radius);
}
.tools-actionsArea-confirmation__button:hover {
  border-color: var(--main-border-color);
}
.tools-actionsArea-confirmation__button:hover > .tools-actionsArea-confirmation__svg {
  fill: var(--main-svg-color);
}
.tools-actionsArea-confirmation__button.tools__button_deleteCath:hover {
  border-color: var(--inactive-color);
  cursor: default;
}
.tools-actionsArea-confirmation__button.tools__button_deleteCath:hover > .tools-actionsArea-confirmation__svg {
  fill: var(--inactive-color);
}
.tools-actionsArea-confirmation__button.tools__button_createNesting {
  padding-bottom: 0;
  padding-top: 0;
}
.tools-actionsArea-confirmation__button.tools__button_createNesting > .tools-actionsArea-confirmation__svg {
  width: 38px;
  height: 38px;
}
.tools-groupSelectionArea {
  flex: 0 0 auto;
  max-height: 130px;
  overflow-y: auto;
}
.tools-groupSelectionArea-navigationBlock__button {
  border: 1px solid var(--inactive-color);
  border-radius: 10px;
  padding: 5px;
  height: 100%;
}
.tools-groupSelectionArea-navigationBlock__button:hover {
  border-color: var(--main-border-color);
}
.tools-groupSelectionArea-navigationBlock__button:hover .tools-groupSelectionArea-navigationBlock__svg {
  fill: var(--main-svg-color);
}
.tools-groupSelectionArea-itemsBlock::after {
  content: "";
  width: 100%;
  height: 0;
  padding-bottom: 5px;
}
.tools-groupSelectionArea-cathegoryItem {
  border: 1px solid var(--inactive-color);
  border-radius: var(--block-radius);
  padding: var(--tools-button-padding);
  cursor: pointer;
}
.tools-groupSelectionArea-cathegoryItem:hover {
  border-color: var(--main-border-color);
}
.tools-groupSelectionArea-cathegoryItem:hover > .tools-groupSelectionArea-cathegoryItem__pre, .tools-groupSelectionArea-cathegoryItem:hover > .tools-groupSelectionArea-cathegoryItem__p {
  color: var(--main-text-color);
}
.tools-groupSelectionArea-cathegoryItem__button {
  cursor: grab;
}
.tools-groupSelectionArea-cathegoryItem__button:active {
  cursor: grabbing;
}
.tools-groupSelectionArea-cathegoryItem__button:hover > .tools-groupSelectionArea-cathegoryItem__svg {
  fill: var(--main-svg-color);
}
.tools-groupSelectionArea-cathegoryItem__svg {
  vertical-align: sub;
}
.tools-groupSelectionArea-cathegoryItem__pre {
  font-size: 20px;
  color: var(--inactive-cathegoryItem-color);
  width: 100%;
  padding-left: 15px;
}
.tools-groupSelectionArea-cathegoryItem__p {
  font-size: 20px;
  color: var(--inactive-cathegoryItem-color);
}

/*# sourceMappingURL=style.css.map */
