@charset "UTF-8";
.tools {
  border-left: 1px solid var(--main-border-color);
  padding: 0 10px;
  background-color: #fff;
}
.tools__div {
  border-top: 1px solid var(--main-border-color);
  padding: 5px;
}
.tools__div:first-of-type {
  border-top: none;
}
.tools-communication-timer__button {
  padding: 0 10px;
}
.tools-communication-timer__button:first-of-type {
  padding-right: 9px;
  border: 1px solid var(--inactive-color);
  border-top-left-radius: var(--block-radius);
  border-bottom-left-radius: var(--block-radius);
}
.tools-communication-timer__button:last-of-type {
  padding-left: 9px;
  border: 1px solid var(--inactive-color);
  border-top-right-radius: var(--block-radius);
  border-bottom-right-radius: var(--block-radius);
}
.tools-communication-timer__button:hover {
  border-color: var(--main-border-color);
}
.tools-communication-timer__button:hover .tools-communication-timer__svg {
  fill: var(--main-svg-color);
}
.tools-communication-timer__p {
  box-sizing: border-box;
  line-height: 40px;
  width: 100%;
  text-align: center;
  font-size: 25px;
  color: var(--inactive-color);
  border-top: 1px solid var(--inactive-color);
  border-bottom: 1px solid var(--inactive-color);
}
.tools-communication__label {
  cursor: pointer;
  padding: 5px 15px;
  border: 1px solid var(--inactive-color);
  border-radius: var(--block-radius);
  height: max-content;
}
.tools-communication__label:hover {
  border-color: var(--main-border-color);
}
.tools-communication__div:hover .tools-communication__svg {
  fill: var(--main-svg-color);
}
.tools-communication__div:hover .tools-communication__p {
  color: var(--main-text-color);
}
.tools-communication__svg {
  fill: var(--inactive-color);
}
.tools-communication__p {
  color: var(--inactive-color);
}
.tools-common {
  border-bottom: 1px solid var(--main-border-color);
}
.tools-common-actions__button {
  box-sizing: border-box;
  border: 1px solid var(--inactive-color);
  border-right: none;
  width: 100%;
  padding: 5px;
}
.tools-common-actions__button:first-of-type {
  border-top-left-radius: var(--block-radius);
  border-bottom-left-radius: var(--block-radius);
}
.tools-common-actions__button:last-of-type {
  border-top-right-radius: var(--block-radius);
  border-bottom-right-radius: var(--block-radius);
  border-right: 1px solid var(--inactive-color);
}
.tools-common-actions__button:hover {
  border-color: var(--main-border-color);
}
.tools-common-actions__button:hover + .tools-common-actions__button {
  border-left-color: var(--main-border-color);
}
.tools-common-actions__button:hover .tools-common-actions__svg {
  fill: var(--main-svg-color);
}
.tools-common-search {
  border: 1px solid var(--inactive-color);
  border-radius: var(--block-radius);
}
.tools-common-search:hover {
  border-color: var(--main-border-color);
}
.tools-common-search__button {
  height: 100%;
  min-width: 80px;
  padding: 5px 15px;
}
.tools-common-search__button:hover .tools-common-search__svg {
  fill: var(--main-svg-color);
}
.tools-listsControl {
  padding: 5px 0;
  margin: 0 5px;
  border: none;
  overflow-x: scroll;
  min-height: fit-content;
}
.tools-listsControl::-webkit-scrollbar {
  height: 0;
}
.tools-listsControl__div {
  min-width: 360px;
  border-radius: var(--block-radius);
}
.tools-listsControl__div:first-of-type {
  width: 100%;
}
.tools-listsControl-selectedSection {
  order: 1;
  transition: transform 0.6s ease-in-out;
}
.tools-listsControl-selectedSection > label {
  cursor: pointer;
}
.tools-listsControl-selectedSection-name__pre {
  font-size: 18px;
}
.tools-listsControl-selectedSection-name_cath {
  border: 1px solid var(--inactive-color);
  border-right: none;
  border-top-left-radius: var(--block-radius);
  border-bottom-left-radius: var(--block-radius);
}
.tools-listsControl-selectedSection-name_cath:hover {
  border-color: var(--main-border-color);
}
.tools-listsControl-selectedSection-name_cath:hover + label {
  border-left-color: var(--main-border-color);
}
.tools-listsControl-selectedSection-name_group {
  border: 1px solid var(--inactive-color);
  border-top-right-radius: var(--block-radius);
  border-bottom-right-radius: var(--block-radius);
}
.tools-listsControl-selectedSection-name_group:hover {
  border-color: var(--main-border-color);
}
.tools-listsControl-selectedSection-name_group:hover + label {
  border-left-color: var(--main-border-color);
}
.tools-listsControl-selectedSection-switcher:hover > .tools-listsControl-selectedSection-switcher__svg {
  fill: var(--main-svg-color);
}
.tools-listsControl-selectedSection-switcher__svg {
  width: 25px;
  height: 25px;
}
.tools-listsControl-selectedSection-switcher_back {
  border: 1px solid var(--inactive-color);
  border-right: none;
  border-top-left-radius: var(--block-radius);
  border-bottom-left-radius: var(--block-radius);
}
.tools-listsControl-selectedSection-switcher_back:hover {
  border-color: var(--main-border-color);
}
.tools-listsControl-selectedSection-switcher_back:hover + label {
  border-left-color: var(--main-border-color);
}
.tools-listsControl-selectedSection-switcher_next {
  border: 1px solid var(--inactive-color);
  border-top-right-radius: var(--block-radius);
  border-bottom-right-radius: var(--block-radius);
}
.tools-listsControl-selectedSection-switcher_next:hover {
  border-color: var(--main-border-color);
}
.tools-listsControl-selectedSection-switcher_next:hover + label {
  border-left-color: var(--main-border-color);
}
.tools-listsControl-workingGroup {
  background-color: #fff;
  transition: all 0.6s ease-in-out;
  order: 2;
}
.tools-listsControl-workingGroup:hover {
  transform: translateX(-370px);
  min-width: 100%;
}
.tools-listsControl-workingGroup-item {
  padding: 5px;
  border: 1px solid var(--inactive-color);
  border-right: none;
}
.tools-listsControl-workingGroup-item:first-of-type {
  border-top-left-radius: var(--block-radius);
  border-bottom-left-radius: var(--block-radius);
}
.tools-listsControl-workingGroup-item:last-of-type {
  border-right: 1px solid var(--inactive-color);
  border-top-right-radius: var(--block-radius);
  border-bottom-right-radius: var(--block-radius);
}
.tools-listsControl-workingGroup-item:hover {
  border-color: var(--main-border-color);
}
.tools-listsControl-workingGroup-item:hover + .tools-listsControl-workingGroup-item {
  border-left-color: var(--main-border-color);
}
.tools-listsControl-workingGroup-item:hover > .tools-listsControl-workingGroup-item__svg {
  fill: var(--main-svg-color);
}
.tools-listsControl-workingGroup-item:hover > .tools-listsControl-workingGroup-item__svg.svg-stroke {
  stroke: var(--main-svg-color);
}
.tools-listsControl-workingGroup:hover + .tools-listsControl-selectedSection {
  transform: translateX(-362px);
}
.tools-sectionEditingArea-appearance__input {
  color: var(--inactive-color);
  width: 100%;
  font-size: 20px;
  font-family: Jura;
  min-height: 40px;
  padding: 0 10px;
  border-left: 2px solid var(--inactive-color);
  border-right: 2px solid var(--inactive-color);
  border-radius: var(--block-radius);
}
.tools-sectionEditingArea-appearance__input:focus {
  border-color: var(--main-border-color);
  color: var(--main-text-color);
}
.tools-sectionEditingArea-appearance__button_setColor {
  width: 100px;
  height: 100%;
  border: 1px solid var(--inactive-color);
  border-radius: var(--block-radius);
  background: linear-gradient(0.25turn, #f88, #ff8, #8f8, #8ff, #88f, #f8f, #f88);
}
.tools-sectionEditingArea-appearance__button_setColor:hover {
  background: linear-gradient(0.25turn, #f00, #ff0, #0f0, #0ff, #00f, #f0f, #f00);
  border-color: var(--main-border-color);
}
.tools-sectionEditingArea-colors__button {
  width: 100%;
  height: 35px;
  border: 1px solid var(--main-border-color);
  border-radius: var(--block-radius);
  opacity: 0.4;
}
.tools-sectionEditingArea-colors__button:hover {
  opacity: 1;
}
.tools-sectionEditingArea-colors__button_fff {
  background-color: #fff;
}
.tools-sectionEditingArea-colors__button_aaa {
  background-color: #aaa;
}
.tools-sectionEditingArea-colors__button_f00 {
  background-color: #f00;
}
.tools-sectionEditingArea-colors__button_ff0 {
  background-color: #ff0;
}
.tools-sectionEditingArea-colors__button_0f0 {
  background-color: #0f0;
}
.tools-sectionEditingArea-colors__button_0ff {
  background-color: #0ff;
}
.tools-sectionEditingArea-colors__button_22f {
  background-color: #22f;
}
.tools-sectionEditingArea-colors__button_f0f {
  background-color: #f0f;
}
.tools-sectionEditingArea-colors__button_840 {
  background-color: #840;
}
.tools-sectionEditingArea-colors__button_000 {
  background-color: #000;
}
.tools-sectionEditingArea-colors__svg {
  fill: var(--main-svg-color);
}
.tools-sectionEditingArea-actions__button {
  border: 1px solid var(--inactive-color);
  border-radius: var(--block-radius);
  padding: 5px 0;
  width: 100%;
}
.tools-sectionEditingArea-actions__button_smallSvg {
  padding: 0;
}
.tools-sectionEditingArea-actions__button:hover {
  border-color: var(--main-border-color);
}
.tools-sectionEditingArea-actions__button:hover > .tools-sectionEditingArea-actions__svg {
  fill: var(--main-svg-color);
}
.tools-sectionEditingArea-actions__button_smallSvg > .tools-sectionEditingArea-actions__svg {
  width: 38px;
  height: 38px;
}
.tools-sectionSelectionArea-currentSectionInfo__button {
  padding: 5px;
  border: 1px solid var(--inactive-color);
  border-radius: var(--block-radius);
}
.tools-sectionSelectionArea-currentSectionInfo__button:hover {
  border-color: var(--main-border-color);
}
.tools-sectionSelectionArea-currentSectionInfo__button:hover > .tools-sectionSelectionArea-currentSectionInfo__svg {
  fill: var(--main-svg-color);
}
.tools-sectionSelectionArea-currentSectionInfo__svg {
  width: 25px;
  height: 25px;
}
.tools-sectionSelectionArea-currentSectionInfo__pre {
  box-sizing: border-box;
  color: var(--main-svg-color);
  line-height: 37px;
  margin-left: 10px;
  font-size: 20px;
  width: 100%;
  height: 100%;
  text-align: left;
}
.tools-sectionSelectionArea-currentSectionInfo__pre:before {
  content: "★";
  padding-right: 5px;
}

/*# sourceMappingURL=style.css.map */
