.tools {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: 0;
    right: 0;
    width: 500px;
    height: 100%;
    box-sizing: border-box;

    &__div {
        &.tools-lists {
            // min-height: 0;
            flex: 1;
            // height: 100%;
        }
    }

    &-communication {
        display: flex;
        justify-content: space-between;
        gap: 10px;

        &__button {
            display: flex;
            justify-content: center;
        }

        &__div {
            display: flex;
            justify-content: space-between;
        }
    }

    &-common {
        display: flex;
        justify-content: start;
        gap: 10px;

        &__div {
            display: flex;
            justify-content: start;
            width: 100%;
        }
        
        &-actions {
            display: flex;
            justify-content: start;
        }

        &__pre {
            position: relative;
        }
    }

    &-listsControl {
        display: flex;
        justify-content: start;
        gap: 10px;
        overflow-x: scroll;
        min-height: fit-content;

        &__div {
            display: flex;
            justify-content: start;
        }
    }

    &-actionsArea {
        display: flex;
        flex-direction: column;
        gap: 5px;

        &-editing, &-confirmation {
            display: flex;
            justify-content: start;
            align-items: center;
            gap: 10px;
        }

        &-editing {
            &__div {
                display: flex;
                justify-content: center;
                vertical-align: center;
            }
        }
    }

    &-groupSelectionArea {
        display: flex;
        flex-direction: column;
        gap: 5px;

        &-cathegoryItem {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
}