@use '../globals';

.tools {
    padding: 0 10px;
    border-left: 1px solid var(--main-border-color);

    &__div {
        padding: 5px;
        border-top: 1px solid var(--main-border-color);

        &:first-of-type {
            border: none;
        }
    }

    &__button_search {
        width: 50px !important;
        box-sizing: content-box;
    }

    &-communication {
        &__button {
            width: 50px;
            padding: var(--tools-button-padding);
            border: 1px solid var(--inactive-color);
            border-radius: var(--block-radius);
            box-sizing: content-box;

            &:hover {
                border-color: var(--main-border-color);
            }

            &:hover > svg {
                fill: var(--main-svg-color);
            }

            &:hover > .tools-communication__p {
                color: var(--main-text-color);
            }
        }

        &__p {
            color: var(--inactive-color);
            font-size: 16px;
        }

        &__div {
            border: 1px solid var(--inactive-color);
            border-radius: var(--block-radius);
            width: 100%;
        }

        &-timer {
            &__button {
                padding: var(--tools-timer-button-padding);

                &:first-of-type {
                    border-right: 1px solid var(--inactive-color);
                }

                &:last-of-type {
                    border-left: 1px solid var(--inactive-color);
                }

                &:hover .svg {
                    fill: var(--main-svg-color);
                }
            }

            &__p {
                font-size: 25px;
                margin: auto 0;
                color: var(--inactive-color);
            }
        }
    }

    &-common {
        border-bottom: 1px solid var(--main-border-color);

        &__button {
            box-sizing: content-box;
            width: 100%;
            padding: var(--tools-button-padding);
            border-left: 1px solid var(--main-border-color);
            transition: width globals.$tools-buttons__animationDuration ease-in-out;

            > .tools-common__svg {
                transition: opacity globals.$tools-buttons__animationDuration ease-in-out;
            }

            &:first-of-type {
                border: none;
            }

            &:hover {
                width: 400%;

                > .tools-common__svg {
                    opacity: 0;
                }
            }
        }

        &__pre {
            font-size: 18px;
        }

        &-actions {
            border: 1px solid var(--main-border-color);
            border-radius: var(--block-radius);
            width: 100%;
        }

        &-search {
            border: 1px solid var(--main-border-color);
            border-radius: var(--block-radius);
        }
    }

    &-listsControl {
        padding: 5px 0;
        margin: 0 5px;
        border: none;
        box-shadow: inset -10px -3px 10px #fff;

        &::-webkit-scrollbar {
            height: 0;
        }

        &__div {
            min-width: 360px;
            min-height: 40px;
            border: 1px solid var(--main-border-color);
            border-radius: 10px;
            background-color: #fff;
        }

        &-group {
            &__button {
                box-sizing: border-box;
                width: 100%;
                border-left: 1px solid var(--main-border-color);
    
                &:first-of-type {
                    border: none;
                }
    
                &:hover {
                    cursor: pointer;
    
                    > svg {
                        fill: var(--main-svg-color);
                    }

                    > .svg-stroke {
                        stroke: var(--main-svg-color);
                    }
                }
            }

            &__svg {
                padding: 0 15px;
            }

            &__p {
                font-size: 18px;
            }
        }
    }
}