@use '../globals';

.tools {
    padding: 0 10px;
    border-left: 1px solid var(--main-border-color);

    &__div {
        padding: 5px;
        border-top: 1px solid var(--main-border-color);

        &:first-of-type {
            border: none;
        }
    }

    &__button_search {
        width: 50px !important;
        box-sizing: content-box;
    }

    &-communication {
        &__button {
            width: 50px;
            padding: var(--tools-button-padding);
            border: 1px solid var(--inactive-color);
            border-radius: var(--block-radius);
            box-sizing: content-box;

            &:hover {
                border-color: var(--main-border-color);
            }

            &:hover > svg {
                fill: var(--main-svg-color);
            }

            &:hover > .tools-communication__p {
                color: var(--main-text-color);
            }
        }

        &__p {
            color: var(--inactive-color);
            font-size: 16px;
        }

        &__div {
            border: 1px solid var(--inactive-color);
            border-radius: var(--block-radius);
            width: 100%;
        }

        &-timer {
            &__button {
                padding: var(--tools-timer-button-padding);

                &:first-of-type {
                    border-right: 1px solid var(--inactive-color);
                }

                &:last-of-type {
                    border-left: 1px solid var(--inactive-color);
                }

                &:hover .svg {
                    fill: var(--main-svg-color);
                }
            }

            &__p {
                font-size: 25px;
                margin: auto 0;
                color: var(--inactive-color);
            }
        }
    }

    &-common {
        border-bottom: 1px solid var(--main-border-color);

        &__button {
            box-sizing: content-box;
            width: 100%;
            padding: var(--tools-button-padding);
            border-left: 1px solid var(--main-border-color);
            transition: width globals.$tools-buttons__animationDuration ease-in-out;

            &:first-of-type {
                border: none;
            }

            &:hover {
                width: 400%;
            }
        }

        &__pre {
            font-size: globals.$tools-buttons-descriptions__fontSize;
        }

        &-actions {
            border: 1px solid var(--main-border-color);
            border-radius: var(--block-radius);
            width: 100%;
        }

        &-search {
            border: 1px solid var(--main-border-color);
            border-radius: var(--block-radius);
        }
    }

    &-listsControl {
        padding: 5px 0;
        margin: 0 5px;
        border: none;

        &::-webkit-scrollbar {
            height: 0;
        }

        &__div {
            min-width: 360px;
            min-height: 40px;
            border: 1px solid var(--main-border-color);
            border-radius: 10px;
            background-color: #fff;
        }

        &-group {
            &__button {
                box-sizing: border-box;
                width: 100%;
                border-left: 1px solid var(--main-border-color);
                transition: width globals.$tools-buttons__animationDuration ease-in-out;

                > .tools-listsControl-group__svg {
                    transition: opacity globals.$tools-buttons__animationDuration ease-in-out;
                }
    
                &:first-of-type {
                    border: none;
                }
    
                &:hover {
                    width: 300%;
    
                    > .tools-listsControl-group__svg {
                        opacity: 0;
                    }
                }
            }

            &__svg {
                padding: 0 15px;
            }

            &__pre {
                font-size: globals.$tools-buttons-descriptions__fontSize;
            }
        }

        &-cath {
            &__button {
                width: 100%;

                &:first-of-type {
                    width: 500%;
                }

                &:last-of-type {
                    border-left: 1px solid var(--main-border-color);
                }

                &:hover {
                    > .tools-listsControl-cath__svg {
                        fill: var(--main-svg-color);
                    }
                }
            }

            &__svg {
                width: 25px;
                height: 25px;
            }

            &__pre {
                text-align: center;
                font-size: globals.$tools-buttons-descriptions__fontSize;
            }
        }
    }

    &-actionsArea {
        &-editing {
            box-sizing: border-box;
            height: 40px;

            &__div {
                box-sizing: border-box;
                margin-right: 0px;
                min-width: 40px;
                min-height: 40px;
                border: 1px solid var(--inactive-color);
                border-radius: 25%;
            }

            &__p {
                font-size: 30px;
                color: var(--inactive-color);
            }

            &__form {
                min-height: 40px;
                width: 100%;
            }

            &__button {
                height: 100%;
                width: 100px;
                border: 1px solid var(--main-border-color);
                border-radius: var(--block-radius);
                border-color: var(--inactive-color);
                background: linear-gradient(0.25turn, #f88, #ff8, #8f8, #8ff, #88f, #f8f, #f88);

                &:hover {
                    border-color: var(--main-border-color);
                    background: linear-gradient(0.25turn, #f00, #ff0, #0f0, #0ff, #00f, #f0f, #f00);;
                }
            }

            &__input {
                box-sizing: border-box;
                font-family: Jura;
                font-size: 20px;
                color: var(--inactive-color);
                width: 100%;
                min-height: 40px;
                padding: 0 10px;
                border-left: 2px solid var(--inactive-color);
                border-right: 2px solid var(--inactive-color);
                border-radius: var(--block-radius);

                &::placeholder {
                    font-family: Jura;
                }

                &:focus {
                    color: var(--main-text-color);
                    border-color: var(--main-border-color);
                }
            }
        }

        &-confirmation {
            box-sizing: border-box;
            height: 40px;

            &__button {
                box-sizing: border-box;
                width: 100%;
                min-height: 40px;
                border: 1px solid var(--inactive-color);
                border-radius: var(--block-radius);

                &:hover {
                    border-color: var(--main-border-color);

                    > .tools-actionsArea-confirmation__svg {
                        fill: var(--main-svg-color);
                    }
                }

                &.tools__button_deleteCath:hover {
                    border-color: var(--inactive-color);
                    cursor: default;

                        > .tools-actionsArea-confirmation__svg {
                            fill: var(--inactive-color);
                        }
                    }

                &.tools__button_createNesting {
                    padding-bottom: 0;
                    padding-top: 0;

                    > .tools-actionsArea-confirmation__svg {
                        width: 38px;
                        height: 38px;
                    }
                }
            }
        }
    }

    &-selectionArea {
        &-cathegoryItem {
            border: 1px solid var(--inactive-color);
            border-radius: var(--block-radius);
            padding: var(--tools-button-padding);
            cursor: pointer;

            &:hover {
                border-color: var(--main-border-color);
            }

            &:hover > &__pre, &:hover > &__p {
                color: var(--main-text-color);
            }

            &__button {
                cursor: grab;

                &:active {
                    cursor: grabbing;
                }
            }

            &__button:hover > &__svg {
                fill: var(--main-svg-color);
            }

            &__svg {
                vertical-align: sub;
            }

            &__pre {
                font-size: 20px;
                color: var(--inactive-cathegoryItem-color);
                width: 100%;
                padding-left: 15px;
            }

            &__p {
                font-size: 20px;
                color: var(--inactive-cathegoryItem-color);
            }
        }
    }
}