.FormElements-sortingBar_sortButton {
    height: 40px;
    box-sizing: border-box;
    padding: 5px 10px;
    font-size: 20px;
    border: 1px solid var(--inactive-color);
    border-radius: var(--block-radius);
    color: var(--inactive-color);
}