.FormElements {
    &_title {
        font-size: 20px;
        border-top: 1px solid var(--main-border-color);
        border-bottom: 1px solid var(--main-border-color);
        padding: 5px 5px 5px 15px;
    }
}