.tools {
    display: flex;
    justify-content: start;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 500px;
    box-sizing: border-box;
    z-index: 1000;

    &__input {
        display: none;
        z-index: 0;
        position: relative;
    }

    &-communication {
        display: flex;
        gap: 10px;

        &-timer {
            display: flex;
            justify-content: space-between;
            align-content: stretch;
            width: 100%;
        }

        &__label {
            display: flex;
            justify-content: center;
        }
    }

    &-common {
        display: flex;
        gap: 10px;

        &-actions {
            width: 100%;

            &__div {
                display: flex;

                &_next {
                    display: none;
                }
            }
        }
    }

    &-listsControl {
        display: flex;
        gap: 10px;

        &__div {
            display: flex;
        }

        &-selectedSection {
            > label {
                display: flex;
                justify-content: center;
                align-items: center;
            }

            &-name {
                width: 400%;
            }

            &-switcher {
                width: 100%;
            }
        }

        &-workingGroup {
            &-item {
                width: 100%;
            }
        }
    }

    &-sectionEditingArea {
        display: flex;
        flex-direction: column;
        gap: 5px;

        &-appearance {
            display: flex;
            gap: 10px;
        }

        &-colors {
            display: flex;
            gap: 8px;
        }

        &-actions {
            display: flex;
            gap: 10px;
        }
    }

    &-sectionSelectionArea {
        display: flex;
        gap: 5px;

        &-navigation {
            display: flex;
            position: sticky;
            top: 0;
            flex-direction: column;
            gap: 5px;
        }

        &-sectionsList {
            display: flex;
            flex-direction: column;
            gap: 5px;

            &__div {
                display: flex;

                &:hover {
                    gap: 5px;
                }
            }

            &_header {
                position: sticky;
                top: 0;
                z-index: 1;
            }

            &-sectionItem {
                display: flex;
                justify-content: center;
                box-sizing: border-box;

                &_addNew > &__pre {
                    display: none;
                }

                &_addNew:first-of-type > &__svg {
                    display: none;
                }

                &_addNew:first-of-type > &__pre {
                    display: block;
                }
            }
        }
    }

    &-lists {
        height: 100%;
    }

    &-quickAccessBar {
        display: flex;
        justify-content: space-between;

        &-languageSwitcher {
            display: flex;
        }

        &-viewMode {
            display: flex;

            &__label {
                display: block;
            }
        }

        &-additionalOptions {
            display: flex;
            gap: 5px;
        }
    }
}