@use "partials/tools/listsControl/selectedSection";

.tools {
    border-left: 1px solid var(--main-border-color);
    padding: 0 10px;
    background-color: #fff;

    &__div {
        border-top: 1px solid var(--main-border-color);
        padding: 5px;

        &:first-of-type {
            border-top: none;
        }
    }

    &-communication {
        &-timer {
            &__button {
                padding: 0 10px;
                // height: 100%;

                &:first-of-type {
                    padding-right: 9px;
                    border: 1px solid var(--inactive-color);
                    border-top-left-radius: var(--block-radius);
                    border-bottom-left-radius: var(--block-radius);
                }

                &:last-of-type {
                    padding-left: 9px;
                    border: 1px solid var(--inactive-color);
                    border-top-right-radius: var(--block-radius);
                    border-bottom-right-radius: var(--block-radius);
                }

                &:hover {
                    border-color: var(--main-border-color);
                }
            }

            &__button:hover &__svg {
                fill: var(--main-svg-color);
            }

            &__p {
                box-sizing: border-box;
                line-height: 40px;
                width: 100%;
                text-align: center;
                font-size: 25px;
                color: var(--inactive-color);
                border-top: 1px solid var(--inactive-color);
                border-bottom: 1px solid var(--inactive-color);
            }
        }

        &__label {
            cursor: pointer;
            padding: 5px 15px;
            border: 1px solid var(--inactive-color);
            border-radius: var(--block-radius);
            height: max-content;

            &:hover {
                border-color: var(--main-border-color);
            }
        }

        &__div:hover &__svg {
            fill: var(--main-svg-color);
        }

        &__div:hover &__p {
            color: var(--main-text-color);
        }

        &__svg {
            fill: var(--inactive-color);
        }

        &__p {
            color: var(--inactive-color);
        }
    }

    &-common {
        border-bottom: 1px solid var(--main-border-color);

        &-actions {
            &__button {
                box-sizing: border-box;
                border: 1px solid var(--inactive-color);
                border-right: none;
                width: 100%;
                padding: 5px;

                &:first-of-type {
                    border-top-left-radius: var(--block-radius);
                    border-bottom-left-radius: var(--block-radius);
                }

                &:last-of-type {
                    border-top-right-radius: var(--block-radius);
                    border-bottom-right-radius: var(--block-radius);
                    border-right: 1px solid var(--inactive-color);
                }

                &:hover {
                    border-color: var(--main-border-color);
                }

                &:hover + & {
                    border-left-color: var(--main-border-color);
                }
            }

            &__button:hover &__svg {
                fill: var(--main-svg-color);
            }
        }

        &-search {
            border: 1px solid var(--inactive-color);
            border-radius: var(--block-radius);

            &:hover {
                border-color: var(--main-border-color);
            }

            &__button {
                height: 100%;
                min-width: 80px;
                padding: 5px 15px;
            }

            &__button:hover &__svg {
                fill: var(--main-svg-color);
            }
        }
    }

    &-listsControl {
        padding: 5px 0;
        margin: 0 5px;
        border: none;
        overflow-x: scroll;
        min-height: fit-content;

        &::-webkit-scrollbar {
            height: 0;
        }

        &__div {
            min-width: 360px;
            // border: 1px solid var(--inactive-color); 
            border-radius: var(--block-radius);
            
            &:first-of-type {
                width: 100%;
                // border: none;
            }
        }

        &-selectedSection {
            order: 1;
            transition: transform 0.6s ease-in-out;

            > label {
                cursor: pointer;
            }

            &-name {
                &__pre {
                    font-size: 18px;
                }

                &_cath {
                    @include selectedSection.left-button;
                }

                &_group {
                    @include selectedSection.right-button;
                }
            }

            &-switcher {
                &:hover > &__svg {
                    fill: var(--main-svg-color);
                }

                &__svg {
                    width: 25px;
                    height: 25px;
                }

                &_back {
                    @include selectedSection.left-button;
                }

                &_next {
                    @include selectedSection.right-button;
                }
            }
        }

        &-workingGroup {
            background-color: #fff;
            transition: all 0.6s ease-in-out;
            order: 2;

            &:hover {
                transform: translateX(-370px);
                min-width: 100%;
            }

            &-item {
                padding: 5px;
                border: 1px solid var(--inactive-color);
                border-right: none;

                &:first-of-type {
                    border-top-left-radius: var(--block-radius);
                    border-bottom-left-radius: var(--block-radius);
                }

                &:last-of-type {
                    border-right: 1px solid var(--inactive-color);
                    border-top-right-radius: var(--block-radius);
                    border-bottom-right-radius: var(--block-radius);
                }

                &:hover {
                    border-color: var(--main-border-color);
                }

                &:hover + & {
                    border-left-color: var(--main-border-color);
                }

                &:hover > &__svg{
                    fill: var(--main-svg-color);
                }

                &:hover > &__svg.svg-stroke {
                    stroke: var(--main-svg-color);
                }
            }
        }

        &-workingGroup:hover + &-selectedSection {
            transform: translateX(-362px);
        }
    }

    &-sectionEditingArea {
        &-appearance {
            &__input {
                color: var(--inactive-color);
                width: 100%;
                font-size: 20px;
                font-family: Jura;
                min-height: 40px;
                padding: 0 10px;
                border-left: 2px solid var(--inactive-color);
                border-right: 2px solid var(--inactive-color);
                border-radius: var(--block-radius);

                &:focus {
                    border-color: var(--main-border-color);
                    color: var(--main-text-color);
                }
            }

            &__button_setColor {
                width: 100px;
                height: 100%;
                border: 1px solid var(--inactive-color);
                border-radius: var(--block-radius);
                background: linear-gradient(0.25turn, #f88, #ff8, #8f8, #8ff, #88f, #f8f, #f88);

                &:hover {
                    background: linear-gradient(0.25turn, #f00, #ff0, #0f0, #0ff, #00f, #f0f, #f00);
                    border-color: var(--main-border-color);
                }
            }
        }

        &-colors {
            &__button {
                width: 100%;
                height: 35px;
                border: 1px solid var(--main-border-color);
                border-radius: var(--block-radius);
                opacity: 0.4;

                &:hover {
                    opacity: 1;
                }

                &_fff {background-color: #fff;}
                &_aaa {background-color: #aaa;}
                &_f00 {background-color: #f00;}
                &_ff0 {background-color: #ff0;}
                &_0f0 {background-color: #0f0;}
                &_0ff {background-color: #0ff;}
                &_22f {background-color: #22f;}
                &_f0f {background-color: #f0f;}
                &_840 {background-color: #840;}
                &_000 {background-color: #000;}
            }

            &__svg {
                fill: var(--main-svg-color);
            }
        }
    }
}