:root {
    --main-border-color: #000;
    --main-svg-color: #444;
    --main-text-color: #000;
    --inactive-color: #aaa;
    --inactive-cathegoryItem-color: #888;

    --block-radius: 10px;

    --tools-groupSelectionArea-itemsBlock__after: 5px;
}

* {
    margin: 0;
    padding: 0;
    user-select: none;
}

button {
    border: none;
    background-color: #0000;
    cursor: pointer;
}

svg {
    width: 30px;
    height: 30px;
    vertical-align: middle;
    fill: var(--inactive-color);
}

.svg {
    fill: var(--inactive-color);
}

.svg-stroke {
    stroke: var(--inactive-color);
}

p, pre {
    font-family: jura;
}

input {
    border: none;
    outline: none;
}